{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"printWidth": 120,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true,
	"pluginSearchDirs": ["."],
	"plugins": ["prettier-plugin-svelte"],
	"svelteSortOrder": "scripts-markup-styles",
	"svelteStrictMode": true,
	"svelteBracketNewLine": true
}
